

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto">
  <% @posts.each do |post| %>
<div class="bg-white overflow-hidden shadow rounded-lg my-5">

  <div class="px-4 py-3 sm:px-6 flex justify-content-center align-items-center">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full mr-3" src="<%= post.user.profile_picture %>" alt="">
    </div>
    <div>
    <%= post.user.username %> <br>
    <small><%= time_ago_in_words(post.created_at) %></small>
    </div>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <%= post.body %>
  </div>
  <div class="bg-gray-50 px-4 py-4 sm:px-6">
    <div class="text-sm">
      <%= render partial: "likes/button", locals: { likeable: post } %>
         <%= post.num_likes %>
        <% post.who_liked.each do |u| %>
          <%= u.username %>
        <% end %>

    </div>
    <% post.comments.each do |comment| %>
      <div class="mt-4">
        <div class="flex space-x-3">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="<%= comment.user.profile_picture %>" alt="">
          </div>
          <div>
            <div class="text-sm">
              <a href="#" class="font-medium text-gray-900"><%= comment.user.username %></a>
            </div>
            <div class="mt-1 text-sm text-gray-700">
              <%= comment.body %>
            </div>
            <div class="mt-2 text-sm space-x-2">
              <span class="text-gray-500 font-medium"><%= time_ago_in_words(comment.created_at) %></span>
              <span class="text-gray-500 font-medium">&middot;</span>
              <button type="button" class="text-gray-900 font-medium">Reply</button>
              <span class="text-gray-500 font-medium">&middot;</span>

              <button type="button" class="text-gray-900 font-medium">Likes (<%= comment.num_likes %>)</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% end %>
</div>
</div>
