
  <div class="space-y-12 mt-24 container mx-auto">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Post a new job</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Create a job</p>
      <%= simple_form_for @job do |f| %>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-2">
            <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Job title</label>
            <div class="mt-2">
              <%= f.input :title, label: false, input_html: { class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"}  %>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="project-name" class="block text-sm font-medium leading-6 text-gray-900">Project name</label>
            <div class="mt-2">
              <%= f.input :project_name, label: false, input_html: {  class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="chain" class="block text-sm font-medium leading-6 text-gray-900">Chain</label>
            <div class="mt-2">
              <%= f.input :chain, collection: Job::CHAIN || Job::CHAIN.first, label: false, input_html: { class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>

            </div>
          </div>
          <div class="sm:col-span-full">
            <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
            <div class="mt-2">
            <%= f.input :description, label: false, input_html: { data: {controller: "textarea-autogrow"},class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
            </div>
          </div>
          <div class="sm:col-span-2 sm:col-start-1">
            <label for="twitter" class="block text-sm font-medium leading-6 text-gray-900">Twitter</label>
            <div class="mt-2">
             <%= f.input :twitter_link, label: false, input_html: { class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }%>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="discord" class="block text-sm font-medium leading-6 text-gray-900">Discord</label>
            <div class="mt-2">
             <%= f.input :discord_invite, label: false, input_html: { class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }%>
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="os" class="block text-sm font-medium leading-6 text-gray-900">OpenSea</label>
            <div class="mt-2">
             <%= f.input :os_link, label: false, input_html: { class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }%>
            </div>
          </div>
        </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
     <%= f.button :submit,"Post a job", class:"rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>

    </div>
      <% end %>
    </div>

  </div>
