<div class="h-full p-8">
  <div class="bg-gray-800 rounded-lg shadow-xl pb-8">
    <div class="absolute right-12 mt-4 rounded">
    <% if policy(@user).edit? %>
      <%= link_to edit_user_path(@user) do %>
        <button class="border border-gray-400 p-2 rounded text-gray-300 hover:text-gray-300 bg-gray-100 hover:bg-gray-50" title="Settings">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M17.263 2.177a1.75 1.75 0 0 1 2.474 0l2.586 2.586a1.75 1.75 0 0 1 0 2.474L19.53 10.03l-.012.013L8.69 20.378a1.753 1.753 0 0 1-.699.409l-5.523 1.68a.748.748 0 0 1-.747-.188.748.748 0 0 1-.188-.747l1.673-5.5a1.75 1.75 0 0 1 .466-.756L14.476 4.963ZM4.708 16.361a.26.26 0 0 0-.067.108l-1.264 4.154 4.177-1.271a.253.253 0 0 0 .1-.059l10.273-9.806-2.94-2.939-10.279 9.813ZM19 8.44l2.263-2.262a.25.25 0 0 0 0-.354l-2.586-2.586a.25.25 0 0 0-.354 0L16.061 5.5Z"></path></svg>
        </button>
      <% end %>
      <% end %>
    </div>
    <% if @user.cover_picture.key.present? %>
      <div class="w-full h-[250px]" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.cover_picture.key, height: 300, crop: :fill %>');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover">
      </div>
    <% else %>
      <div class="w-full h-[250px]">
        <div class="w-full h-full bg-gray-500 rounded-tl-lg rounded-tr-lg"></div>
      </div>
    <% end %>
    <div class="flex flex-col items-center -mt-20">
      <% if @user.profile_picture.present? %>
        <%= cl_image_tag @user.profile_picture.key, height: 250,width:250, crop: :fill, class:" w-40 border-4 border-white rounded-full" %>
      <% else %>
        <img src="https://res.cloudinary.com/dhufhm6ar/image/upload/v1687785983/Windows_10_Default_Profile_Picture.svg_uajtrb.png" class="w-40 border-4 border-white rounded-full" width=250 height=250>
      <% end %>
      <div class="flex items-center space-x-2 mt-2">
        <p class="text-2xl text-white"><%= @user.username %></p>
      </div>
      <p class="text-white"><%= @user.job %></p>
      <p class="text-sm text-gray-500 mt-3"><%= @user.headline %></p>
    </div>
    <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
      <div class="flex items-center space-x-4 mt-2">
        <%# <button class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
                        </svg>
                        <span>Connect</span>
                    </button> %>
        <%# <button class="flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path>
          </svg>
          <span>Message</span>
        </button> %>
      </div>
    </div>
  </div>
  <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
    <div class="w-full flex flex-col 2xl:w-1/3">
      <div class="flex-1 bg-gray-800 rounded-lg shadow-xl p-8">
        <h4 class="text-xl text-white font-bold">Social Media</h4>
        <ul class="mt-2 text-white">
          <% if @user.twitter.present? %>
            <li class="flex border-y py-2">
              <span class="font-bold w-24">Twitter:</span>
              <span class="text-white">
                <a href="<%= @user.twitter %>" title="Twitter">
                  <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"><path d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm90493 110539c-6654 2976-13822 4953-21307 5835 7669-4593 13533-11870 16333-20535-7168 4239-15133 7348-23574 9011-6787-7211-16426-11694-27105-11694-20504 0-37104 16610-37104 37101 0 2893 320 5722 949 8450-30852-1564-58204-16333-76513-38806-3285 5666-5022 12109-5022 18661v4c0 12866 6532 24246 16500 30882-6083-180-11804-1876-16828-4626v464c0 17993 12789 33007 29783 36400-3113 845-6400 1313-9786 1313-2398 0-4709-247-7007-665 4746 14736 18448 25478 34673 25791-12722 9967-28700 15902-46120 15902-3006 0-5935-184-8860-534 16466 10565 35972 16684 56928 16684 68271 0 105636-56577 105636-105632 0-1630-36-3209-104-4806 7251-5187 13538-11733 18514-19185l17-17-3 2z" fill="#1da1f2"></path></svg>
                </a>
              </span>
            </li>
          <% end %>
          <% if @user.website.present? %>
            <li class="flex border-y py-2">
              <span class="font-bold w-24">Website:</span>
              <span class="text-white">
                <a href="<%= @user.website %>" title="website">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-5 h-5" viewBox="0 0 470 468" id="internet"><defs><filter id="a" width="111.8%" height="111.9%" x="-5.9%" y="-3.9%" filterUnits="objectBoundingBox"><feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset><feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="4"></feGaussianBlur><feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.078125 0"></feColorMatrix><feOffset dy="4" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset><feGaussianBlur in="shadowOffsetOuter2" result="shadowBlurOuter2" stdDeviation="5.5"></feGaussianBlur><feColorMatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.210824275 0"></feColorMatrix><feMerge><feMergeNode in="shadowMatrixOuter1"></feMergeNode><feMergeNode in="shadowMatrixOuter2"></feMergeNode></feMerge></filter><path id="b" d="M9.635 132.808C24.782 59.782 71.388 19.109 144.085 6.822c53.74-9.081 107.5-9.196 161.15.255 74.852 13.185 119.85 56.23 134.185 130.36 11.075 57.29 11.249 115.191-.174 172.427-15.324 72.52-63.132 117.285-135.561 129.527-53.74 9.08-107.5 9.195-161.15-.255-74.852-13.186-120.05-58.38-134.384-132.509-11.64-57.668-10.52-115.935 1.484-173.82z"></path></defs><g fill="none" fill-rule="evenodd" transform="translate(-21 -26)"><g transform="translate(32 33)"><use fill="#000" filter="url(#a)" xlink:href="#b"></use><use fill="#706CF5" xlink:href="#b"></use></g><path fill="#FFF" d="M367.092 257.907c-1.943 7.32-9.9 12.583-22.292 15.743 5.596-12.596 9.257-26.233 10.657-40.536 9.24 8.913 13.583 17.455 11.635 24.793m-153.783 4.965c-41.598-11.042-77.605-26.335-101.378-41.787-.003-.329-.013-.657-.013-.987 0-61.91 50.189-112.098 112.099-112.098 61.91 0 112.098 50.188 112.098 112.098 0 20.75-5.646 40.176-15.475 56.842-28.18 1.398-66.426-3.21-107.331-14.068M82.235 182.29c1.864-7.022 9.28-12.143 20.819-15.337a131.248 131.248 0 0 0-10.378 38.975c-8.43-8.496-12.305-16.617-10.441-23.638M224.017 88c69.935 0 127.169 54.35 131.788 123.115 22.069 17.721 33.394 36.296 29.165 52.229-4.253 16.019-23.48 26.563-51.68 30.964-.143.213-15.666 2.197-24.56 2.203-29.321.942-64.602-3.232-101.502-13.027-88.943-23.611-153.572-70.908-144.352-105.641 4.224-15.914 23.228-26.421 51.123-30.874C137.673 111.425 178.107 88 224.017 88zm58.827 227.531c11.572.633 22.517.586 32.63-.121-23.735 22.782-55.96 36.787-91.457 36.787-61.18 0-112.636-41.593-127.658-98.042 8.214 6.013 17.642 11.887 28.09 17.483 18.66 35.976 56.24 60.559 99.568 60.559 21.577 0 41.726-6.102 58.827-16.666z" transform="translate(32 33)"></path></g></svg>              </a>
              </span>
            </li>
          <% end %>
          <% if @user.discord.present? %>
            <li class="flex border-y py-2">
              <span class="font-bold w-24">Discord:</span>
              <span class="text-white">
              <%= @user.discord %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="flex flex-col w-full 2xl:w-2/3">
      <div class="flex-1 bg-gray-800 rounded-lg shadow-xl p-8">
        <% unless @user.summary.empty? %>
          <h4 class="text-xl text-white font-bold">About</h4>
          <p class="mt-2 text-white"><%= @user.summary %></p>
        <% end %>
        <% unless @user.skills.empty? %>
          <h4 class="text-xl text-white font-bold">Skills</h4>
          <div class="flex gap-3">
            <% @user.skills.each do |skill| %>
              <p class="mt-2 text-white bg-purple-500 px-2 py-2 rounded text-white"><%= skill.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="flex-1 bg-gray-800 rounded-lg shadow-xl mt-4 p-8">
        <h4 class="text-xl text-white font-bold">Experiences</h4>
        <table class="min-w-full divide-y divide-gray-300 bg-gray-700 rounded">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-3">Title</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Project Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Link</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Description</th>
            </tr>
          </thead>
          <tbody>
            <% @user.experiences.each do |exp| %>
              <!-- Odd row -->
              <tr class="border-b">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-3"><%= exp.title %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white"><%= exp.company %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white"><%= exp.social_links %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white"><%= exp.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
