  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-none">
      <div class="overflow-hidden bg-gray-800 sm:rounded-lg sm:shadow">
        <div class="border-b border-gray-700 bg-gray-800 px-4 py-5 sm:px-6">
          <h3 class="text-lg font-medium leading-6 text-white">Job Applications</h3>
        </div>
        <ul role="list" class="divide-y divide-gray-700">
          <% @applications.each do |app| %>
            <li>
              <%= link_to job_job_application_path(app.job, app) do %>
                <div class="px-4 py-4 sm:px-6 hover:bg-gray-700 transation duration-300">
                  <div class="flex items-center justify-between">
                    <div class="flex items-center justify-between">
                    <%# <%= cl_image_tag app.user.profile_picture.key, height: 250,width:250, crop: :fill, class:" h-10 w-10 rounded-full mr-3" %> %>

                      <div>
                        <div class="truncate text font-medium text-white"><%= app.user.username %></div>
                        <small class=" text-white truncate"><%= app.job.title %></small>
                      </div>
                    </div>
                    <small class="text-white"><%= time_ago_in_words(app.created_at) %></small>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
