<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky">
  <div class="container-fluid md:px-8 px-3">
    <!-- Logo container-->
    <%= link_to root_path, class:"logo" do %>
      <div class="block sm:hidden">
        <%= image_tag("logo-icon-40.png", class:"h-10 inline-block dark:hidden") %>
        <%= image_tag("logo-icon-40-white.png", class:"h-10 hidden dark:inline-block") %>
      </div>
      <div class="sm:block hidden">
        <%= image_tag("logo-dark.png", class:"h-[24px] inline-block dark:hidden") %>
        <%= image_tag("logo-white.png", class:"h-[24px] hidden dark:inline-block") %>
      </div>
    <% end %>
    <!-- End Logo container-->
    <!-- Start Mobile Toggle -->
    <div class="menu-extras">
      <div class="menu-item">
        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>
    <!-- End Mobile Toggle -->
    <!--Login button Start-->
    <ul class="buy-button list-none mb-0">
      <li class="inline-block mb-0">
        <div class="relative top-[3px]">
          <i class="uil uil-search text-lg absolute top-[3px] end-3"></i>
          <input type="text" class="form-input h-9 pe-10 rounded-3xl sm:w-44 w-36 border-gray-100 dark:border-slate-800 bg-white dark:bg-slate-900" name="s" id="searchItem" placeholder="Search...">
        </div>
      </li>
      <% if !current_user %>
      <li class="inline-block ps-1 mb-0">
          <a href="<%= new_user_session_path %>" class="btn btn-icon rounded-full bg-purple-600 hover:bg-purple-700 border-purple-600 hover:border-purple-700 text-white" style="width: 10.25rem;">
            <i class="uil uil-sign-in-alt"></i> Log in / Sign up
          </a>
        </li>
        <% end %>
      </ul>
      <!--Login button End-->
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu justify-end">

          <li><%= link_to "Home", root_path, class:"sub-menu-item"%></li>
          <li><%= link_to "Jobs", jobs_path, class:"sub-menu-item"%></li>

          <li><a href="contact.html" class="sub-menu-item">Contact</a></li>


      <% if current_user %>

        <li class=" has-submenu parent-menu-item">
          <a href="javascript:void(0)" class="btn btn-icon rounded-full text-white" style="padding-right:0; padding-left:0; border:0">
            <% if current_user.profile_picture.key.present? %>
              <%= cl_image_tag current_user.profile_picture.key, height: 250,width:250, crop: :fill, class:" w-8 rounded-full" %>
            <% else %>
              <%= image_tag("https://res.cloudinary.com/dhufhm6ar/image/upload/v1687785983/Windows_10_Default_Profile_Picture.svg_uajtrb.png", class:"rounded-full") %>
            <% end %>
          </a>
          <ul class="submenu">
            <li><%= link_to "Dashboard", conversations_path, class:"sub-menu-item"%></li>
            <li><%= link_to "Profile", edit_user_registration_path, class:"sub-menu-item"%></li>
            <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"sub-menu-item"%></li>
          </ul>
        </li>
        <% end %>
        </ul>
        <!--end navigation menu-->
      </div>
      <!--end navigation-->
    </div>
    <!--end container-->
  </nav><!--end header-->
  <!-- End Navbar -->
