<!-- Start Hero -->
<section class="relative md:py-56 py-36 w-full">
  <div class="absolute inset-0 bg-purple-600/5 dark:bg-purple-600/10"></div>
  <div class="container z-1">
    <div class="grid grid-cols-1 text-center mt-10 relative">
      <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold">Join us & <span class="text-purple-600 font-bold">Explore</span> <br>
 <span class="text-purple-600 font-bold">Thousands</span> of Jobs</h4>
      <p class="text-slate-400 text-lg max-w-xl mx-auto">Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent applicants over the years.</p>
      <div class="d-flex" id="reserve-form">
        <div class="md:w-5/6 mx-auto">
          <div class="lg:col-span-10 mt-8">
            <div class="bg-white dark:bg-slate-900 border-0 shadow rounded-md p-3">
              <form action="#">
                <div class="registration-form text-dark text-start">
                  <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
                    <div class="filter-search-form relative filter-border">
                      <i class="uil uil-briefcase-alt icons"></i>
                      <input name="name" type="text" id="job-keyword" class="form-input filter-input-box bg-gray-50 dark:bg-slate-800 border-0" placeholder="Search your Keywords">
                    </div>
                    <div class="filter-search-form relative filter-border">
                      <i class="uil uil-map-marker icons"></i>
                      <div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false">
                        <div class="choices__inner"><select class="form-select choices__input" data-trigger="" name="choices-location" id="choices-location" aria-label="Default select example" hidden="" tabindex="-1" data-choice="active"><option value="AF" data-custom-properties="[object Object]">Afghanistan</option></select>
                          <div class="choices__list choices__list--single">
                            <div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="AF" data-custom-properties="[object Object]" aria-selected="true">Afghanistan</div>
                          </div>
                        </div>
                        <div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search" name="search_terms" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null" placeholder="">
                          <div class="choices__list" role="listbox">
                            <div id="choices--choices-location-item-choice-1" class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="AF" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Afghanistan</div>
                            <div id="choices--choices-location-item-choice-2" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="2" data-value="AZ" data-select-text="Press to select" data-choice-selectable="">Azerbaijan</div>
                            <div id="choices--choices-location-item-choice-3" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="3" data-value="BS" data-select-text="Press to select" data-choice-selectable="">Bahamas</div>
                            <div id="choices--choices-location-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="BH" data-select-text="Press to select" data-choice-selectable="">Bahrain</div>
                            <div id="choices--choices-location-item-choice-5" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="5" data-value="CA" data-select-text="Press to select" data-choice-selectable="">Canada</div>
                            <div id="choices--choices-location-item-choice-6" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="6" data-value="CV" data-select-text="Press to select" data-choice-selectable="">Cape Verde</div>
                            <div id="choices--choices-location-item-choice-7" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="7" data-value="DK" data-select-text="Press to select" data-choice-selectable="">Denmark</div>
                            <div id="choices--choices-location-item-choice-8" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="8" data-value="DJ" data-select-text="Press to select" data-choice-selectable="">Djibouti</div>
                            <div id="choices--choices-location-item-choice-9" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="9" data-value="ER" data-select-text="Press to select" data-choice-selectable="">Eritrea</div>
                            <div id="choices--choices-location-item-choice-10" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="10" data-value="EE" data-select-text="Press to select" data-choice-selectable="">Estonia</div>
                            <div id="choices--choices-location-item-choice-11" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="11" data-value="GM" data-select-text="Press to select" data-choice-selectable="">Gambia</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="filter-search-form relative filter-border">
                      <i class="uil uil-briefcase-alt icons"></i>
                      <div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false">
                        <div class="choices__inner"><select class="form-select choices__input" data-trigger="" name="choices-type" id="choices-type" aria-label="Default select example" hidden="" tabindex="-1" data-choice="active"><option value="1" data-custom-properties="[object Object]">Full Time</option></select>
                          <div class="choices__list choices__list--single">
                            <div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="1" data-custom-properties="[object Object]" aria-selected="true">Full Time</div>
                          </div>
                        </div>
                        <div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search" name="search_terms" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null" placeholder="">
                          <div class="choices__list" role="listbox">
                            <div id="choices--choices-type-item-choice-1" class="choices__item choices__item--choice choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="3" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Freelancer</div>
                            <div id="choices--choices-type-item-choice-2" class="choices__item choices__item--choice is-selected choices__item--selectable" role="option" data-choice="" data-id="2" data-value="1" data-select-text="Press to select" data-choice-selectable="">Full Time</div>
                            <div id="choices--choices-type-item-choice-3" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="3" data-value="5" data-select-text="Press to select" data-choice-selectable="">Office Work</div>
                            <div id="choices--choices-type-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="2" data-select-text="Press to select" data-choice-selectable="">Part Time</div>
                            <div id="choices--choices-type-item-choice-5" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="5" data-value="4" data-select-text="Press to select" data-choice-selectable="">Remote Work</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type="submit" id="search" name="search" style="height: 60px;" class="btn bg-purple-600 hover:bg-purple-700 border-purple-600 hover:border-purple-700 text-white searchbtn submit-btn w-100" value="Search">
                  </div>
                  <!--end grid-->
                </div>
                <!--end container-->
              </form>
            </div>
          </div>
          <!--ed col-->
        </div>
      </div>
      <!--end grid-->
      <div class="mt-4">
        <span class="text-slate-400"><span class="text-dark">Popular Searches :</span> Designer, Developer, Web, IOS, PHP Senior Engineer</span>
      </div>
      <div class="absolute -top-20 start-1/2 -translate-x-1/2">
        <div class="w-10 h-10 animate-[bounce_2s_infinite] bg-white dark:bg-slate-900 flex items-center justify-center shadow dark:shadow-gray-700 rounded-md">
        <%= image_tag("company/facebook-logo.png", class:"h-6 w-6") %>
        </div>
      </div>
      <div class="absolute top-[20%] start-10">
        <div class="w-10 h-10 animate-[spin_5s_linear_infinite] bg-white dark:bg-slate-900 flex items-center justify-center shadow dark:shadow-gray-700 rounded-md">
        <%= image_tag("company/google-logo.png", class:"h-6 w-6") %>
        </div>
      </div>
      <div class="absolute top-[20%] end-1">
        <div class="w-10 h-10 bg-white dark:bg-slate-900 flex items-center justify-center shadow dark:shadow-gray-700 rounded-md">
        <%= image_tag("company/android.png", class:"h-6 w-6") %>
        </div>
      </div>
      <div class="absolute top-3/4 start-1">
        <div class="w-10 h-10 bg-white dark:bg-slate-900 flex items-center justify-center shadow dark:shadow-gray-700 rounded-md">
        <%= image_tag("company/lenovo-logo.png", class:"h-6 w-6") %>
        </div>
      </div>
      <div class="absolute top-3/4 end-10">
        <div class="w-10 h-10 animate-[spin_5s_linear_infinite] bg-white dark:bg-slate-900 flex items-center justify-center shadow dark:shadow-gray-700 rounded-md">
        <%= image_tag("company/skype.png", class:"h-6 w-6") %>
        </div>
      </div>
      <div class="absolute -bottom-32 start-1/2 -translate-x-1/2">
        <div class="w-10 h-10 animate-pulse bg-white dark:bg-slate-900 flex items-center justify-center shadow dark:shadow-gray-700 rounded-md">
        <%= image_tag("company/snapchat.png", class:"h-6 w-6") %>
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End Hero -->
<!-- Start -->
<section class="relative md:py-24 py-16">
  <div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Popular Categories</h3>
      <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
    </div>
    <!--end grid-->
    <div class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
      <div class="group px-3 py-10 rounded-md shadow dark:shadow-gray-700 hover:shadow-purple-600/10 dark:hover:shadow-purple-600/10 text-center bg-white dark:bg-slate-900 hover:bg-purple-600/5 dark:hover:bg-purple-600/5 transition duration-500">
        <div class="w-16 h-16 bg-purple-600/5 group-hover:bg-purple-600 text-purple-600 group-hover:text-white rounded-md text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-700 transition duration-500 mx-auto">
          <i class="uil uil-gitlab"></i>
        </div>
        <div class="content mt-6">
          <a href="" class="title text-lg font-semibold hover:text-purple-600">Business <br>
             Development</a>
          <p class="text-slate-400 mt-3">74 Jobs</p>
        </div>
      </div>
      <!--end content-->
      <div class="group px-3 py-10 rounded-md shadow dark:shadow-gray-700 hover:shadow-purple-600/10 dark:hover:shadow-purple-600/10 text-center bg-white dark:bg-slate-900 hover:bg-purple-600/5 dark:hover:bg-purple-600/5 transition duration-500">
        <div class="w-16 h-16 bg-purple-600/5 group-hover:bg-purple-600 text-purple-600 group-hover:text-white rounded-md text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-700 transition duration-500 mx-auto">
          <i class="uil uil-book-open"></i>
        </div>
        <div class="content mt-6">
          <a href="" class="title text-lg font-semibold hover:text-purple-600">Marketing & <br>
             Communication</a>
          <p class="text-slate-400 mt-3">20 Jobs</p>
        </div>
      </div>
      <!--end content-->
      <div class="group px-3 py-10 rounded-md shadow dark:shadow-gray-700 hover:shadow-purple-600/10 dark:hover:shadow-purple-600/10 text-center bg-white dark:bg-slate-900 hover:bg-purple-600/5 dark:hover:bg-purple-600/5 transition duration-500">
        <div class="w-16 h-16 bg-purple-600/5 group-hover:bg-purple-600 text-purple-600 group-hover:text-white rounded-md text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-700 transition duration-500 mx-auto">
          <i class="uil uil-chart-pie-alt"></i>
        </div>
        <div class="content mt-6">
          <a href="" class="title text-lg font-semibold hover:text-purple-600">Project <br>
             Management</a>
          <p class="text-slate-400 mt-3">35 Jobs</p>
        </div>
      </div>
      <!--end content-->
      <div class="group px-3 py-10 rounded-md shadow dark:shadow-gray-700 hover:shadow-purple-600/10 dark:hover:shadow-purple-600/10 text-center bg-white dark:bg-slate-900 hover:bg-purple-600/5 dark:hover:bg-purple-600/5 transition duration-500">
        <div class="w-16 h-16 bg-purple-600/5 group-hover:bg-purple-600 text-purple-600 group-hover:text-white rounded-md text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-700 transition duration-500 mx-auto">
          <i class="uil uil-feedback"></i>
        </div>
        <div class="content mt-6">
          <a href="" class="title text-lg font-semibold hover:text-purple-600">Customer <br>
             Service</a>
          <p class="text-slate-400 mt-3">46 Jobs</p>
        </div>
      </div>
      <!--end content-->
      <div class="group px-3 py-10 rounded-md shadow dark:shadow-gray-700 hover:shadow-purple-600/10 dark:hover:shadow-purple-600/10 text-center bg-white dark:bg-slate-900 hover:bg-purple-600/5 dark:hover:bg-purple-600/5 transition duration-500">
        <div class="w-16 h-16 bg-purple-600/5 group-hover:bg-purple-600 text-purple-600 group-hover:text-white rounded-md text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-700 transition duration-500 mx-auto">
          <i class="uil uil-presentation-line"></i>
        </div>
        <div class="content mt-6">
          <a href="" class="title text-lg font-semibold hover:text-purple-600">Software <br>
             Engineering</a>
          <p class="text-slate-400 mt-3">60 Jobs</p>
        </div>
      </div>
      <!--end content-->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
  <div class="container md:mt-24 md:pb-16 mt-16">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
      <div class="lg:col-span-5 md:col-span-6">
        <div class="relative">
          <div class="relative">
            <%= image_tag("about/ab01.jpg", class:"lg:w-[400px] w-[280px] rounded-md shadow dark:shadow-gray-700") %>

            <div class="absolute top-0 translate-y-2/4 end-0 text-center">
              <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-700 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-purple-600 dark:text-white">
                <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
              </a>
            </div>
          </div>
          <div class="absolute md:-end-5 end-0 -bottom-16">
            <%= image_tag("about/ab02.jpg", class:"lg:w-[280px] w-[200px] border-8 border-white dark:border-slate-900 rounded-md shadow dark:shadow-gray-700") %>

          </div>
        </div>
      </div>
      <div class="lg:col-span-7 md:col-span-6 mt-14 md:mt-0">
        <div class="lg:ms-5">
          <h3 class="mb-6 md:text-[26px] text-2xl md:leading-normal leading-normal font-semibold">Millions of jobs. <br>
             Find the one that's right for you.</h3>
          <p class="text-slate-400 max-w-xl">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
          <ul class="list-none text-slate-400 mt-4">
            <li class="mb-1 flex"><i class="uil uil-check-circle text-purple-600 text-xl me-2"></i> Digital Marketing Solutions for Tomorrow</li>
            <li class="mb-1 flex"><i class="uil uil-check-circle text-purple-600 text-xl me-2"></i> Our Talented & Experienced Marketing Agency</li>
            <li class="mb-1 flex"><i class="uil uil-check-circle text-purple-600 text-xl me-2"></i> Create your own skin to match your brand</li>
          </ul>
          <div class="mt-6">
            <a href="contact.html" class="btn bg-purple-600 hover:bg-purple-700 border-purple-600 hover:border-purple-700 text-white mt-2 rounded-md"><i class="uil uil-envelope"></i> Contact us</a>
          </div>
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->
<!-- Start -->
<section class="relative bg-slate-50 dark:bg-slate-800 md:py-24 py-16">
  <div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="mb-4 md:text-[26px] md:leading-normal text-2xl leading-normal font-semibold">Popular Jobs</h3>
      <p class="text-slate-400 max-w-xl mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
    </div>
    <!--end grid-->
    <div class="grid lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">
      <div class="group shadow dark:shadow-gray-700 p-6 rounded-md bg-white dark:bg-slate-900">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
            <%= image_tag("company/facebook-logo.png", class:"h-8 w-8") %>

            </div>
            <div class="ms-3">
              <a href="employer-detail.html" class="block text-[16px] font-semibold hover:text-purple-600 transition-all duration-500">Facebook</a>
              <span class="block text-sm text-slate-400">2 days ago</span>
            </div>
          </div>
          <span class="bg-purple-600/10 group-hover:bg-purple-600 inline-block text-purple-600 group-hover:text-white text-xs px-2.5 py-0.5 font-semibold rounded-full transition-all duration-500">Full Time</span>
        </div>
        <div class="mt-6">
          <a href="job-detail-two.html" class="text-lg hover:text-purple-600 font-semibold transition-all duration-500">Web Designer / Developer</a>
          <h6 class="text-base font-medium"><i class="uil uil-map-marker"></i> Australia</h6>
        </div>
        <div class="mt-6">
          <div class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]">
            <div class="bg-purple-600 h-[6px] rounded-full" style="width: 55%"></div>
          </div>
          <div class="mt-2">
            <span class="text-slate-400 text-sm"><span class="text-slate-900 dark:text-white font-semibold inline-block">21 applied</span> of 40 vacancy</span>
          </div>
        </div>
      </div>
      <!--end content-->
      <div class="group shadow dark:shadow-gray-700 p-6 rounded-md bg-white dark:bg-slate-900">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
            <%= image_tag("company/google-logo.png", class:"h-8 w-8") %>

            </div>
            <div class="ms-3">
              <a href="employer-detail.html" class="block text-[16px] font-semibold hover:text-purple-600 transition-all duration-500">Google</a>
              <span class="block text-sm text-slate-400">2 days ago</span>
            </div>
          </div>
          <span class="bg-purple-600/10 group-hover:bg-purple-600 inline-block text-purple-600 group-hover:text-white text-xs px-2.5 py-0.5 font-semibold rounded-full transition-all duration-500">Part Time</span>
        </div>
        <div class="mt-6">
          <a href="job-detail-two.html" class="text-lg hover:text-purple-600 font-semibold transition-all duration-500">Marketing Director</a>
          <h6 class="text-base font-medium"><i class="uil uil-map-marker"></i> USA</h6>
        </div>
        <div class="mt-6">
          <div class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]">
            <div class="bg-purple-600 h-[6px] rounded-full" style="width: 55%"></div>
          </div>
          <div class="mt-2">
            <span class="text-slate-400 text-sm"><span class="text-slate-900 dark:text-white font-semibold inline-block">21 applied</span> of 40 vacancy</span>
          </div>
        </div>
      </div>
      <!--end content-->
      <div class="group shadow dark:shadow-gray-700 p-6 rounded-md bg-white dark:bg-slate-900">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
            <%= image_tag("company/android.png", class:"h-8 w-8") %>

            </div>
            <div class="ms-3">
              <a href="employer-detail.html" class="block text-[16px] font-semibold hover:text-purple-600 transition-all duration-500">Android</a>
              <span class="block text-sm text-slate-400">2 days ago</span>
            </div>
          </div>
          <span class="bg-purple-600/10 group-hover:bg-purple-600 inline-block text-purple-600 group-hover:text-white text-xs px-2.5 py-0.5 font-semibold rounded-full transition-all duration-500">Remote</span>
        </div>
        <div class="mt-6">
          <a href="job-detail-two.html" class="text-lg hover:text-purple-600 font-semibold transition-all duration-500">Application Developer</a>
          <h6 class="text-base font-medium"><i class="uil uil-map-marker"></i> China</h6>
        </div>
        <div class="mt-6">
          <div class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]">
            <div class="bg-purple-600 h-[6px] rounded-full" style="width: 55%"></div>
          </div>
          <div class="mt-2">
            <span class="text-slate-400 text-sm"><span class="text-slate-900 dark:text-white font-semibold inline-block">21 applied</span> of 40 vacancy</span>
          </div>
        </div>
      </div>
      <!--end content-->
      <div class="group shadow dark:shadow-gray-700 p-6 rounded-md bg-white dark:bg-slate-900">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
            <%= image_tag("company/lenovo-logo.png", class:"h-8 w-8") %>

            </div>
            <div class="ms-3">
              <a href="employer-detail.html" class="block text-[16px] font-semibold hover:text-purple-600 transition-all duration-500">Lenovo</a>
              <span class="block text-sm text-slate-400">2 days ago</span>
            </div>
          </div>
          <span class="bg-purple-600/10 group-hover:bg-purple-600 inline-block text-purple-600 group-hover:text-white text-xs px-2.5 py-0.5 font-semibold rounded-full transition-all duration-500">WFH</span>
        </div>
        <div class="mt-6">
          <a href="job-detail-two.html" class="text-lg hover:text-purple-600 font-semibold transition-all duration-500">Senior Product Designer</a>
          <h6 class="text-base font-medium"><i class="uil uil-map-marker"></i> Dubai</h6>
        </div>
        <div class="mt-6">
          <div class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]">
            <div class="bg-purple-600 h-[6px] rounded-full" style="width: 55%"></div>
          </div>
          <div class="mt-2">
            <span class="text-slate-400 text-sm"><span class="text-slate-900 dark:text-white font-semibold inline-block">21 applied</span> of 40 vacancy</span>
          </div>
        </div>
      </div>
      <!--end content-->
      <div class="group shadow dark:shadow-gray-700 p-6 rounded-md bg-white dark:bg-slate-900">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
            <%= image_tag("company/spotify.png", class:"h-8 w-8") %>

            </div>
            <div class="ms-3">
              <a href="employer-detail.html" class="block text-[16px] font-semibold hover:text-purple-600 transition-all duration-500">Spotify</a>
              <span class="block text-sm text-slate-400">2 days ago</span>
            </div>
          </div>
          <span class="bg-purple-600/10 group-hover:bg-purple-600 inline-block text-purple-600 group-hover:text-white text-xs px-2.5 py-0.5 font-semibold rounded-full transition-all duration-500">Full Time</span>
        </div>
        <div class="mt-6">
          <a href="job-detail-two.html" class="text-lg hover:text-purple-600 font-semibold transition-all duration-500">C++ Developer</a>
          <h6 class="text-base font-medium"><i class="uil uil-map-marker"></i> India</h6>
        </div>
        <div class="mt-6">
          <div class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]">
            <div class="bg-purple-600 h-[6px] rounded-full" style="width: 55%"></div>
          </div>
          <div class="mt-2">
            <span class="text-slate-400 text-sm"><span class="text-slate-900 dark:text-white font-semibold inline-block">21 applied</span> of 40 vacancy</span>
          </div>
        </div>
      </div>
      <!--end content-->
      <div class="group shadow dark:shadow-gray-700 p-6 rounded-md bg-white dark:bg-slate-900">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <div class="w-14 h-14 flex items-center justify-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
            <%= image_tag("company/linkedin.png", class:"h-8 w-8") %>

            </div>
            <div class="ms-3">
              <a href="employer-detail.html" class="block text-[16px] font-semibold hover:text-purple-600 transition-all duration-500">Linkedin</a>
              <span class="block text-sm text-slate-400">2 days ago</span>
            </div>
          </div>
          <span class="bg-purple-600/10 group-hover:bg-purple-600 inline-block text-purple-600 group-hover:text-white text-xs px-2.5 py-0.5 font-semibold rounded-full transition-all duration-500">Remote</span>
        </div>
        <div class="mt-6">
          <a href="job-detail-two.html" class="text-lg hover:text-purple-600 font-semibold transition-all duration-500">Php Developer</a>
          <h6 class="text-base font-medium"><i class="uil uil-map-marker"></i> Pakistan</h6>
        </div>
        <div class="mt-6">
          <div class="w-full bg-gray-100 dark:bg-gray-800 rounded-full h-[6px]">
            <div class="bg-purple-600 h-[6px] rounded-full" style="width: 55%"></div>
          </div>
          <div class="mt-2">
            <span class="text-slate-400 text-sm"><span class="text-slate-900 dark:text-white font-semibold inline-block">21 applied</span> of 40 vacancy</span>
          </div>
        </div>
      </div>
      <!--end content-->
    </div>
    <!--end grid-->
    <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
      <div class="md:col-span-12 text-center">
        <a href="job-grid-two.html" class="btn btn-link text-slate-400 hover:text-purple-600 after:bg-purple-600 duration-500 ease-in-out">See More Jobs <i class="uil uil-arrow-right align-middle"></i></a>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->
<!-- Start -->
